Package: wordperfect
Version: 8.0
Architecture: i386
Maintainer: Tavis Ormandy <taviso@gmail.com>
Description: WordPerfect for UNIX (TM) Character Terminals
Homepage: https://github.com/taviso/
Depends:

